Repository FLBadoras/wiki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @motrellin, @RobZenFL, @Ru8ior

Added generic feminimum
  _commands/cmodify_add.md
  _commands/cmodify_rm.md
  _commands/farmgames.md
  _commands/gs_erlauben.md
  _commands/gs_verbieten.md
  _commands/gs_weiterverkaufen.md
  _commands/info.md
  _commands/marry_hug.md
  _commands/marry_kiss.md
  _commands/marry_listpriests.md
  _commands/marry_pvpoff.md
  _commands/marry_pvpon.md
  _commands/marry_scheiden.md
  _commands/marry_seen.md
  _commands/msg.md
  _commands/petstop.md
  _commands/ueberweisen.md
  _commands/willkommen.md
  _jobs/erntehelfer.md
  _jobs/mine.md
  _lists/recipes.md
  _systems/chat.md
  _systems/drawing.md
  _systems/securing.md
  _systems/skills.md
  _team_members/2-motrellin.md
  index.md
  support.md
Owners: @motrellin, @RobZenFL, @Ru8ior

Gleb gibt auf
  _team_members/2-gleb_s.md
Owners: @motrellin, @RobZenFL

[TEAM] KleinesBirgit Helferin
  _team_members/4-kleinesbirgit.md
Owners: @motrellin, @RobZenFL

[SYS] Updated fooddrinks
  _systems/fooddrinks.md
Owners: @motrellin, @RobZenFL

[CMD] /plantage
  _commands/plantage.md
Owners: @motrellin, @RobZenFL

Updated Gemfile.lock
  Gemfile.lock
Owners: @motrellin

Updated chat
  _systems/chat.md
Owners: @motrellin, @RobZenFL

Updated dependencies
  Gemfile.lock
Owners: @motrellin

fixed Gemfile.lock
  Gemfile.lock
Owners: @motrellin

Quest-Command eingefügt und Textanpassung im Tagebuch-Command
  _commands/quests.md
  _commands/tagebuch.md
Owners: @motrellin, @RobZenFL

Enabled images in lists
  .github/CONTRIBUTING.md
  _includes/lists_table.md
Owners: @motrellin, @RobZenFL

listgames Es wurden neue Listen eingefügt und eine bestehende Liste aktualisiert. Es folgen weitere, diese PR dient als Versuch und optischer Test für die Einbindung von Bildern.
  _lists/blueprints.md
  _lists/collectibles.md
  _lists/npcs.md
  _lists/sidequests.md
  assets/images/blueprints/w_enderschild.jpg
Owners: @motrellin, @RobZenFL

Fix markdown
  _lists/blueprints.md
  _lists/collectibles.md
  _lists/npcs.md
  _lists/sidequests.md
Owners: @motrellin, @RobZenFL

Neue Listen und Einträge eingefügt, Blueprint-Eintrag verschoben und das Foto des bisher einzigen BP-Eintrags verkleinert
  _lists/blueprints.md
  _lists/corals.md
  _lists/sealife.md
  _systems/blueprints.md
  _systems/chat.md
  _systems/dungeons.md
  _systems/factory.md
  _systems/furnituremanufacturer.md
  assets/images/blueprints/w_enderschild.jpg
Owners: @motrellin, @RobZenFL

Neue Systeme und Listen eingefügt. Außerdem einen Command ergänzt.
  _commands/spieler.md
  _lists/shops.md
  _systems/furnituremanufacturer.md
  _systems/orders.md
  _systems/school.md
Owners: @motrellin, @RobZenFL

Closes #143
  _commands/marry_list.md
Owners: @motrellin, @RobZenFL

Closes #104
  _commands/xp.md
Owners: @motrellin, @RobZenFL

Closes #46
  _commands/gemälde.md
Owners: @motrellin, @RobZenFL

Closes #18
  _commands/nachrichten.md
Owners: @motrellin, @RobZenFL

Closes #16
  _commands/einsatz.md
Owners: @motrellin, @RobZenFL

Neue Befehle eingefügt und Alias ergänzt
  _commands/baltop.md
  _commands/dungeon.md
  _commands/fixitems.md
  _commands/färben.md
  _commands/pvp.md
  _commands/quests.md
  _commands/schnickschnackschnuck.md
  _commands/serverstats.md
  _commands/stadt.md
  _commands/werbung.md
Owners: @motrellin, @RobZenFL

Ergänzung bei NPCs
  _lists/npcs.md
Owners: @motrellin, @RobZenFL

Update _commands/werbung.md
  _commands/werbung.md
Owners: @motrellin, @RobZenFL

Closes #70
  _commands/gs_info.md
  _systems/gs.md
Owners: @motrellin, @RobZenFL

Closes #130
  _systems/marry.md
Owners: @motrellin, @RobZenFL

Closes #115
  _commands/shop_create.md
  _commands/shop_price.md
  _commands/shop_staff.md
  _commands/shop_suggestprice.md
  _systems/gs.md
  _systems/shops.md
Owners: @motrellin, @RobZenFL

Verlinkung eingefügt
  _systems/fooddrinks.md
Owners: @motrellin, @RobZenFL

Systemname Shops angepasst
  _commands/shop_create.md
  _commands/shop_price.md
  _commands/shop_staff.md
  _commands/shop_suggestprice.md
  _systems/playershops.md
Owners: @motrellin, @RobZenFL

Großhandel eingefügt
  _systems/market.md
Owners: @motrellin, @RobZenFL

Okuta eingefügt
  _maps/okuta.md
Owners: @motrellin, @RobZenFL

Beschreibung ergänzt
  _lists/recipes.md
Owners: @motrellin, @RobZenFL

System ergänzt
  _commands/stadt.md
Owners: @motrellin, @RobZenFL

Typo
  _commands/stadt.md
Owners: @motrellin, @RobZenFL

Show Maps at Website
  _config.yml
Owners: @motrellin, @RobZenFL

command.description: markdownify
  commands.md
Owners: @motrellin, @RobZenFL

Review-Kommentare eingebaut
  _commands/shop_create.md
  _maps/okuta.md
  _systems/gs.md
Owners: @motrellin, @RobZenFL

Review-Kommentare eingearbeitet
  _lists/corals.md
  _lists/shops.md
  _systems/dungeons.md
  _systems/factory.md
  _systems/furnituremanufacturer.md
  _systems/school.md
Owners: @motrellin, @RobZenFL

80 chars fix
  _lists/shops.md
  _systems/blueprints.md
  _systems/dungeons.md
  _systems/factory.md
  _systems/furnituremanufacturer.md
Owners: @motrellin, @RobZenFL

80 char fixes
  _maps/okuta.md
  _systems/fooddrinks.md
  _systems/gs.md
  _systems/market.md
  _systems/marry.md
  _systems/playershops.md
Owners: @motrellin, @RobZenFL

Update recipes.md
  _lists/recipes.md
Owners: @motrellin, @RobZenFL

.github/CODEOWNERS:

# The following this specifies the default owner for all files:
*		@motrellin @RobZenFL

/.github/ @motrellin
.gitignore @motrellin
.markdownlint.yml @motrellin
.pre-commit-config.yaml @motrellin
Gemfile @motrellin
Gemfile.lock @motrellin
support.md @motrellin @Ru8ior
